h1 , section {
  text-align: center;
}

#color-palette div {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}

.first-color {
  background-color: black;
}

table {
  margin: 0 auto;
}

table , tr , td {
  border-spacing: 0;
  border: 1px solid black;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
}

#clear-board {
  display: block;
  margin: 7px auto 10px;
}
